.posts__container{
    width: 100%;

    padding-inline: 1.25rem;
}
/* --- */
.posts__page{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    margin-bottom: 2.5rem;
}

.posts__page hr{
    display: none;

    width: 2.375rem;
    height: .155rem;

    background: var(--default-color);

    transform: rotate(-90deg);
}

.page__title{
    font-size: 2rem;

    border-bottom: .155rem solid transparent;
}

.page__title:hover{
    border-color: var(--default-color);
}

.page-active{
    border-bottom: .155rem solid var(--default-color);
}

/* --- */
.posts__list{
    width: 100%;
    max-width: 26.563rem;

    margin-inline: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 3rem;
}

.posts__post{
    width: 100%;
}

.post__header{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__profile{
    display: flex;
    align-items: center;
    gap: .75rem;
}

.profile__image{
    transition: transform .3s;
}

.profile__image:hover{
    transform: scale(1.1);
}

.profile__name{
    color: var(--default-color);
}

.post__body img{
    width: 100%;
    height: 18rem;

    border-radius: 1.25rem;
    box-shadow: 0 .25rem .25rem 0 var(--photo-shadow-color);

    margin-block: 1rem;
}

.post__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 1rem;
}

.post__interactions{
    display: flex;
    align-items: center;
    gap: .6rem;
}

.post__hashtag{
    color: var(--hashtag-color);
}

@media screen and (min-width: 768px) {
    .posts__container{
        padding-inline: 1.55rem;
    }
    
    .posts__list{
        max-width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .posts__page{
        justify-content: flex-start;
        gap: 1.25rem;
    }
    
    .posts__page hr{
        display: block;
    }
}